.container__header {
  background: $menu-item-color;
  position: relative;
  height: 6rem;
  width: 100%;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  padding: 2rem;
  border-bottom: $line;
  font-size: 1rem;
  &-user {
    display: flex;
    &>.container__header-userphoto {
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
    }
  }
  &-buttons {
    display: flex;
    width: 15%;
    position: absolute;
    right: 1rem;
    align-items: center;
    justify-content: space-around;
    &>.container__header-button {
      font-weight: 900;
      padding: 1rem .8rem;
      background: $home-background-color;
      border-radius: 3%;
      color: $menu-item-color;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}