$home-background-color: #5C6BC0;
$container-background-color: #f7f7f7;
$menu-item-color: #fff;
$white: white;
$facebook-color: #3b5999;
$googleplus-color: #dd4b39;
$items-background-color: #e5e5e5;
$line: 1px solid #f4f2f2;
$thick-line: 1rem solid #f4f2f2;
$input-border: 1px solid #5C6BC0;
$focus-input-border: .2rem solid #5C6BC0;
$black: #000000;
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
$color-grey-dark-1: #999;